# Общие исключения
*.log
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
.DS_Store

# Исключения для Python
env/
venv/
.env
*.env

# Исключения для Go
bin/
*.exe
*.out
*.test
*.swp

# Исключения для IDE
.idea/
.vscode/
*.iml

# Исключения для ОС
Thumbs.db
desktop.ini

# Исключения для зависимостей
*.lock
node_modules/
vendor/

# Исключения для документации
*.pdf
*.docx
*.xlsx
*.pptx
